:root {
  --primary-color: #313131;
  --secondary-color: #245462;
  --third-color: #414141;
}

.nav_link {
  padding: 16px 0px 16px 25px;
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 18px;
  border: none;
  outline: none;
}

.nav_link:hover {
  background: linear-gradient(
    90deg,
    #f1f1f1 0%,
    rgba(238, 246, 250, 0.19) 82.82%,
    rgba(237, 248, 252, 0) 107.25%
  );
}

.active {
  background: linear-gradient(
    90deg,
    #f1f1f1 0%,
    rgba(238, 246, 250, 0.19) 82.82%,
    rgba(237, 248, 252, 0) 107.25%
  );
  font-weight: 500;
}


.product-card__title {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-top: 5px;
}
.product-card__description {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-top: 2px;
}